<launch>
	<arg name="marker_size" default="8.0" />
	<arg name="max_new_marker_error" default="0.05" />
	<arg name="max_track_error" default="0.05" />
	<arg name="cam_image_topic" default="/camera/color/image_raw" />
	<arg name="cam_info_topic" default="/camera/color/camera_info" />
	<arg name="output_frame" default="/base_link" />

	<arg name="dobot" default="true">

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="true" output="screen">
		<param name="marker_size"           type="double" value="$(arg marker_size)" />
		<param name="max_new_marker_error"  type="double" value="$(arg max_new_marker_error)" />
		<param name="max_track_error"       type="double" value="$(arg max_track_error)" />
		<param name="output_frame"          type="string" value="$(arg output_frame)" />

		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
	</node>

	<node name="follow_tag" pkg="robotics" type="follow_tag.py" respawn="false" output="screen"/>

	<node name="dobot_static_tf_publisher" pkg="robotics" type="dobot_static_tf_publisher.py" respawn="true" output="screen"/>
	
	<group if="$(arg dobot)">
 		<include file="($find dobot_magician_driver)/launch/dobot_magician.launch"/>
	</group>
	


</launch>
